[manifest]
version = "1.0.0"
dump_lua = true
priority = -1

[[patches]]
[patches.pattern]
target = 'functions/UI_definitions.lua'
pattern = '''
{n=G.UIT.C, config={align = "cm", r = 0.1, minw = 1.28*2+spacing, minh = 1, colour = temp_col2}, nodes={
                      {n=G.UIT.O, config={object = DynaText({string = {{ref_table = G.GAME, ref_value = 'dollars', prefix = localize('$')}},
                            scale_function = function ()
                                return scale_number(G.GAME.dollars, 2.2 * scale, 99999, 1000000)
                            end, maxw = 1.35, colours = {G.C.MONEY}, font = G.LANGUAGES['en-us'].font, shadow = true,spacing = 2, bump = true, scale = 2.2*scale}), id = 'dollar_text_UI'}}
                  }},
'''
position = "at"
payload = '''
{n=G.UIT.C, config={align = "cm", r = 0.1, minw = 0.64*2+spacing, minh = 1, colour = temp_col2}, nodes={
                      {n=G.UIT.O, config={object = DynaText({string = {{ref_table = G.GAME, ref_value = 'dollars', prefix = localize('$')}},
                            scale_function = function ()
                                return scale_number(G.GAME.dollars, 2.2 * scale, 99999, 1000000)
                            end, maxw = 1.35, colours = {G.C.MONEY}, font = G.LANGUAGES['en-us'].font, shadow = true,spacing = 2, bump = true, scale = 2.2*scale}), id = 'dollar_text_UI'}}
                  }},
{n=G.UIT.C, config={align = "tm", r = 0.1, minw = 0.64*2+spacing, minh = 1, colour = temp_col2}, nodes={
                      {n=G.UIT.O, config={object = DynaText({font = SMODS.Fonts["med_currency"], string = {{ref_table = G.GAME, ref_value = 'med_currency2', prefix = '_'}},
                            scale_function = function ()
                                return scale_number(G.GAME.med_currency2, 2.2 * scale, 99999, 1000000)
                            end, maxw = 1.35, colours = {SMODS.Gradients["med_currency"]}, font = SMODS.Fonts["med_currency"], shadow = true,spacing = 2, bump = true, scale = 2.2*scale}), id = 'med_currency_text_UI'}}
                  }},
'''
match_indent = true 

# taken from hotpot
[[patches]]
[patches.regex]
target = 'functions/UI_definitions.lua'
position = 'after'
pattern = '''colours = \{args\.colour\}\,float = true\,'''
payload = '''font = args.font,'''
match_indent = true